@import "tailwindcss";

@theme {
  --color-primary: #E61E54;
  --color-background: #FFF8F9;
  --color-textMain: #1A1A1A;
  --color-textSub: #8C8C8C;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-textMain);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
